<% include header %>
    <header>
        <h1> NTalk </h1>
        <h4> Aconteceu algo terrivel! :( </h4>
    </header>
    <section>
        <p>
            Veja os detalhes do erro:
        </p>
        <br>
        <%- error.message %>
    </section>
    <section>
        <hr>
        <p>Que tal voltar para <a href="/"> Home page? </a> :)</p>
    </section>
    <% include footer %>